<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bike Service</title>
  <link rel="icon" type="image/png" href="../../assets/images/logo-next.jpg" sizes="16x16">
  <!-- remix icon font css  -->
  <link rel="stylesheet" href="../../assets/css/remixicon.css">
  <!-- BootStrap css -->
  <link rel="stylesheet" href="../../assets/css/lib/bootstrap.min.css">
  <!-- Apex Chart css -->
  <link rel="stylesheet" href="../../assets/css/lib/apexcharts.css">
  <!-- Data Table css -->
  <link rel="stylesheet" href="../../assets/css/lib/dataTables.min.css">
  <!-- Text Editor css -->
  <link rel="stylesheet" href="../../assets/css/lib/editor-katex.min.css">
  <link rel="stylesheet" href="../../assets/css/lib/editor.atom-one-dark.min.css">
  <link rel="stylesheet" href="../../assets/css/lib/editor.quill.snow.css">
  <!-- Date picker css -->
  <link rel="stylesheet" href="../../assets/css/lib/flatpickr.min.css">
  <!-- Calendar css -->
  <link rel="stylesheet" href="../../assets/css/lib/full-calendar.css">
  <!-- Vector Map css -->
  <link rel="stylesheet" href="../../assets/css/lib/jquery-jvectormap-2.0.5.css">
  <!-- Popup css -->
  <link rel="stylesheet" href="../../assets/css/lib/magnific-popup.css">
  <!-- Slick Slider css -->
  <link rel="stylesheet" href="../../assets/css/lib/slick.css">
  <!-- main css -->
  <link rel="stylesheet" href="../../assets/css/style.css">
</head>
  <body class="y-bg-color">
    <aside class="sidebar y-bg-color">
        <button type="button" class="sidebar-close-btn">
          <iconify-icon icon="radix-icons:cross-2"></iconify-icon>
        </button>
        <div>
          <a href="/" class="sidebar-logo min-w-100%">
            <img src="../../assets/images/logo-name.jpg" alt="site logo" class="light-logo ">
            <img src="../../assets/images/logo-name.jpg" alt="site logo" class="dark-logo ">
            <!-- <img src="../../assets/images/logo-icon.png" alt="site logo" class="logo-icon "> -->
          </a>
        </div>
        <div class="sidebar-menu-area">
          <ul class="sidebar-menu" id="sidebar-menu">
            <li>
              <a href="/api/admin">
                <iconify-icon icon="solar:home-smile-angle-outline" class="menu-icon"></iconify-icon>
                <span>Dashboard</span>
              </a>
            </li>
            <li>
              <a href="/api/admin/addService">
                <iconify-icon icon="ion:search-outline" class="menu-icon"></iconify-icon>
                <span>Services</span>
              </a>
            </li>
            <li>
              <a href="/api/admin/bookings">
                <iconify-icon icon="hugeicons:invoice-03" class="menu-icon"></iconify-icon>
                <span>Bookings</span> 
              </a>
            </li>
            
          </ul>
        </div>
      </aside>



<main class="dashboard-main y-bg-color">
    <div class="navbar-header y-bg-color">
  <div class="row align-items-center justify-content-between">
    <div class="col-auto">
      <div class="d-flex flex-wrap align-items-center gap-4">
        <button type="button" class="sidebar-toggle">
          <iconify-icon icon="heroicons:bars-3-solid" class="icon text-2xl non-active"></iconify-icon>
          <iconify-icon icon="iconoir:arrow-right" class="icon text-2xl active"></iconify-icon>
        </button>
        <button type="button" class="sidebar-mobile-toggle">
          <iconify-icon icon="heroicons:bars-3-solid" class="icon"></iconify-icon>
        </button>
        <form class="navbar-search " action="/search-db" method="post">
          <input type="text" name="Phone" placeholder="Search" class="y-bg-color">
          <iconify-icon icon="ion:search-outline" class="icon"></iconify-icon>
        </form> 
      </div>
    </div>
    <div class="col-auto">
      <div class="d-flex flex-wrap align-items-center gap-3">
        <button type="button" data-theme-toggle class="w-40-px h-40-px bg-neutral-200 rounded-circle d-flex justify-content-center align-items-center"></button>
        
         <!-- Profile dropdown end -->
      </div>
    </div>
          </div>
        </div><!-- Language dropdown end -->

       <!-- Profile dropdown end -->
      </div>
    </div>
  </div>
</div>
    
    <div class="dashboard-main-body">
        <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
  <h6 class="fw-semibold mb-0">Add Service</h6>
  <ul class="d-flex align-items-center gap-2">
    <li class="fw-medium">
      <a href="/" class="d-flex align-items-center gap-1 hover-text-primary">
        <iconify-icon icon="solar:home-smile-angle-outline" class="icon text-lg"></iconify-icon>
        Dashboard
      </a>
    </li>
    <li>-</li>
    <li class="fw-medium">Add Service</li>
  </ul>
</div>

        <div class="card h-100 p-0 radius-12 y-bg-color">
            <div class="card-body p-24">
                <div class="row justify-content-center">
                    <div class="col-xxl-6 col-xl-8 col-lg-10">
                        <div class="card border y-box-shadow">
                            <div class="card-body y-bg-color">
                                <!-- <h6 class="text-md text-primary-light mb-16">Profile Image</h6> -->

                                <!-- Upload Image Start
                                <div class="mb-24 mt-16">
                                    <div class="avatar-upload">
                                        <div class="avatar-edit position-absolute bottom-0 end-0 me-24 mt-16 z-1 cursor-pointer">
                                            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" hidden>
                                            <label for="imageUpload" class="w-32-px h-32-px d-flex justify-content-center align-items-center bg-primary-50 text-primary-600 border border-primary-600 bg-hover-primary-100 text-lg rounded-circle">
                                                <iconify-icon icon="solar:camera-outline" class="icon"></iconify-icon>
                                            </label>
                                        </div>
                                        <div class="avatar-preview">
                                            <div id="imagePreview"> </div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- Upload Image End -->
                                
                                <form action="/api/admin/addService" method="post">
                                    <div class="mb-20">
                                        <label for="serviceName" class="form-label fw-semibold text-primary-light text-sm mb-8">Service Name <span class="text-danger-600">*</span></label>
                                        <input type="text" class="form-control radius-8 y-bg-color" id="serviceName" name="serviceName" placeholder="Service name" required>
                                    </div>
                                   
                                    <div class="align-items-center justify-content-sm-between gap-3 y-m-l">
                                        
                                        <button type="submit" class="btn btn-primary border border-primary-600 text-md px-56 py-12 radius-8"> 
                                            Save
                                        </button>
                                    </div>
                                </form>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <footer class="d-footer y-bg-color">
  <div class="row align-items-center justify-content-between">
    <div class="col-auto">
      <p class="mb-0">© 2024 NextOneSolutions. All Rights Reserved.</p>
    </div>
    <div class="col-auto">
      <a href="https://www.nextonesolutions.in/" target="_blank">
        <p class="mb-0">Developed by <span class="text-primary-600">NextOneSolutions</span></p>
      </a>
     
    </div>
  </div>
</footer>
  </main>


  <script>
    function getQueryParams(){
        const params = new URLSearchParams(window.location.search)
        return {
            status : params.get('status')
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        const { status } = getQueryParams()
        if(status === 'added'){
            alert('Service added successfully')
        }
        if(status === 'error'){
            alert('Error service adding')
        }
    })

  </script>
  <!-- jQuery library js -->
  <script src="../../assets/js/lib/jquery-3.7.1.min.js"></script>
  <!-- Bootstrap js -->
  <script src="../../assets/js/lib/bootstrap.bundle.min.js"></script>
  <!-- Apex Chart js -->
  <script src="../../assets/js/lib/apexcharts.min.js"></script>
  <!-- Data Table js -->
  <script src="../../assets/js/lib/dataTables.min.js"></script>
  <!-- Iconify Font js -->
  <script src="../../assets/js/lib/iconify-icon.min.js"></script>
  <!-- jQuery UI js -->
  <script src="../../assets/js/lib/jquery-ui.min.js"></script>
  <!-- Vector Map js -->
  <script src="../../assets/js/lib/jquery-jvectormap-2.0.5.min.js"></script>
  <script src="../../assets/js/lib/jquery-jvectormap-world-mill-en.js"></script>
  <!-- Popup js -->
  <script src="../../assets/js/lib/magnifc-popup.min.js"></script>
  <!-- Slick Slider js -->
  <script src="../../assets/js/lib/slick.min.js"></script>
  <!-- main js -->
  <script src="../../assets/js/app.js"></script>


<script>
    // ================== Image Upload Js Start ===========================
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#imagePreview').css('background-image', 'url('+e.target.result +')');
                $('#imagePreview').hide();
                $('#imagePreview').fadeIn(650);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#imageUpload").change(function() {
        readURL(this);
    });
    // ================== Image Upload Js End ===========================
</script>

</body>
</html>
